body {
    background: url('../img/matrix.gif') no-repeat center center fixed;
    background-size: cover;
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.hero {
    text-align: center;
    color: var(--primary-color);
    padding: 100px 20px;
    background: rgba(0, 0, 0, 0.7);
}

.section {
    background: rgba(0, 0, 0, 0.8);
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--primary-color);
}
