button,
.btn-project {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 2px solid var(--border-color);
    padding: 10px 20px;
    cursor: pointer;
    font-family: var(--font-family);
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

button:hover,
.btn-project:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
    box-shadow: 0 0 10px var(--hover-color);
}
