form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input,
form textarea {
    padding: 10px;
    border: 2px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--text-color);
    border-radius: 5px;
    font-family: var(--font-family);
}

form button {
    align-self: center;
}
