/* Global Styles */
.card-perso > :is(p, h2) {
    color: var(--dark-black); /* Noir discret */
    text-align: center;
}

.card-perso h2 {
    font-size: 1.5em !important;
    font-weight: 700;
    margin: 0 !important;
    background-size: 100% 10px !important;
    color: var(--primary-orange); /* Orange clair */
}

.cards-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-perso p {
    margin-bottom: auto; /* Pour pousser le bouton en bas */
    color: var(--dark-black);
    font-size: 1em;
}

.card-perso {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1.5em;
    width: 350px;
    border-radius: 12px;

    background-color: var(--soft-white);
    border: 1px solid var(--dark-black);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    transition: transform 0.3s ease-in-out;
}

.card-perso:hover {
    transform: translateY(-5px);
}

.progression-gauge {
    position: relative;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    height: 20px;
    width: 100%;
}

.progression-gauge::after {
    content: '';
    height: 100%;
    border-radius: 15px;
    display: flex;
    position: absolute;
}

/* Button */
.card-perso button {
    margin: auto;
    font-size: 1em;
    height: auto;
    color: var(--dark-black);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--primary-orange);
    border: 1px solid var(--dark-black);
    cursor: pointer;
    padding: 0.5em 1.2em;

    transition: 0.3s ease-out;
}

.card-perso button:hover {
    color: var(--soft-white);
    background-color: var(--dark-black);
}

/* Responsive Design */
@media screen and (max-width: 1000px) {
    .card-perso {
        width: 90%;
        min-height: 320px;
    }

    .cards-row {
        overflow: auto;
        justify-content: flex-start;
    }
}

/* Progression Gauges - Adapted Theme Colors */
#html {
    background: linear-gradient(to bottom, #ffa500, #ffdbb6);
}

#block-html .progression-gauge::after {
    background-color: #ffa500; /* Orange */
    width: 90%;
}

#javascript {
    background: linear-gradient(to bottom, #ffcc66, #ffdbb6);
}

#block-javascript .progression-gauge::after {
    background-color: #ffcc66;
    width: 70%;
}

#php {
    background: linear-gradient(to bottom, #8aaaff, #ffdbb6);
}

#block-php .progression-gauge::after {
    background-color: #8aaaff;
    width: 60%;
}

#vuejs {
    background: linear-gradient(to bottom, #63dd7c, #ffdbb6);
}

#block-vuejs .progression-gauge::after {
    background-color: #63dd7c;
    width: 75%;
}

#angular {
    background: linear-gradient(to bottom, #ff7766, #ffdbb6);
}

#block-angular .progression-gauge::after {
    background-color: #ff7766;
    width: 65%;
}

#symfony {
    background: linear-gradient(to bottom, #d0d0d0, #ffdbb6);
}

#block-symfony .progression-gauge::after {
    background-color: #8f8f8f;
    width: 80%;
}
