.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 2px solid var(--border-color);
}

.header .logo {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 1.5rem;
}

.nav-links a {
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
    font-family: var(--font-family);
    transition: color 0.3s;
}
