.project-card {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary-color);
}

.project-card img {
    width: 100px;
    margin-bottom: 10px;
}
